
@{
    ViewBag.Title = "NotFound";
}

<h2>NotFound</h2>

<p>We could not find the page you searched for.</p>

<img src="~/images/black-and-white-black-and-white-black-and-white-262488.jpg" height="350" />

