
@{
    ViewBag.Title = "ServerProblems";
}

<h2>Error Encountered</h2>

<p>
	I'm sorry, we have encountered a problem on our end.
	Our engineering team is working on it. Please try again later.
</p>

<img src="~/images/break-up-breakup-broken-14303.jpg" height="350"/>